.login-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.login-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 70%;
    position: relative;
}

.logo {
    height: 40vmin;
    pointer-events: none;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
  
/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    width: 100%;
    
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    flex: 30%
}

.login-form-button-wrapper {
    padding-top: 20px;
    width: 100%;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    opacity:1;
    color: white;
    font-size: 10px;
    padding: 0px;
}
  